body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #9f51b9;  */
  color: #f1eaf5; /* Dark text color */
  background-image: url('./components/images/R\ \(4\).jpeg');
  background-size: cover; /* Cover entire viewport */
  background-repeat: no-repeat; /* No repeating of background image */
  background-position: center center; /* Center the background image */
  background-attachment: fixed; 
  
  
}

.navbar {
  color: rgb(235, 223, 223);
  padding: 1rem 0;
}



.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: #f1eaf5; */
}

.navbar .navbar-brand {
  color: rgb(244, 237, 237);
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  margin: 0 1rem;
}

.navbar-nav li a {
  color: rgb(231, 224, 224);
  text-decoration: none;
  font-size: 1rem;
}

.navbar-nav li a:hover {
  text-decoration: underline;
}

.header {
  /* background: url('https://via.placeholder.com/1920x1080') no-repeat center center; */
  background-size: cover;
  color: rgb(246, 238, 238);
  text-align: 10rem;
  padding: 10rem 1rem;
  max-width: 500px; /* Limit header width */
 
 
}

.section {
  background-color: white; /* White background for sections */
  padding: 4rem 0;
  text-align: center;
}

.section h2 {
  font-size: 2.5rem; /* Larger heading size */
  color: #333; /* Dark heading color */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

p {
  color: #faf4f4;
  line-height: 1.6;
}

button {
  background-color: #6f42c1; /* Purple button */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #cb1ed7; /* Darker purple on hover */
  text-decoration: none;
}
.com {
  max-width: 500px; 
  padding: 0rem;
  text-align: right;
  margin-left: 20rem;

}

