.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.company-name {
  text-decoration: none;
  color: #403d3d; /* Link text color */
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: rgb(48, 44, 44);
  padding: 10px 15px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.nav-link:hover,
.nav-link.active {
  text-decoration: underline;
}
/* Default styles for all pages */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Additional styles for the home page background */
.home-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  padding-left: 60px;
  padding-right: 20px;
}

.content-wrapper {
  max-width: 500px;
  text-align: left;
}

.home-container h2 {
  font-size: 5.5rem;
  color: #5e5959;
  font-family: monospace;
  margin-bottom: 20px; /* Add margin between h2 and p */
  font-weight: normal;
}

.additional-content p {
  font-size: 1rem;
  line-height: 1.4;
  color: #555;
  text-align: left;
}

.image-container {
  margin-left: auto;
  margin-right: 5px;
}

.illustration {
  max-width: 80%;
  height: auto;
  display: block;
  /* border-radius: 50%; */
}

.multi-color-button {
  background: linear-gradient(to right, #6f42c1, #007bff, #6f42c1, #007bff);
  color: #fff;
  border: none;
  padding: 12px 50px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 30px;
}

.multi-color-button:hover {
  background: linear-gradient(to right, #0056b3, #5a3ec8, #0056b3, #5a3ec8);
}
/* Features Component Styles */
.features-container {
  padding: 60px 20px;
  background-color: transparent;
}

.features-container h1 {
  font-size: 2.2rem;
  color: #5f5c5c;
  text-align: center;
  margin-bottom: 100px;
  font-family: monospace;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 90px;
  margin-left: 90px;
  margin-right: 90px;
}

.feature-item {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s, box-shadow 0.3s;
}

.feature-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.feature-image {
  width: 40%;
  height: 120px;
  object-fit: cover;
}

.feature-text {
  padding: 20px;
}

.feature-text h2 {
  font-size: 1.5rem;
  color: #444;
  margin-bottom: 40px;
  font-family: monospace;
}

.feature-text p {
  font-size: 0.875rem; /* Reduced font size for smaller text */
  color: #555;
  line-height: 1.5;
}

/* Contact Page Styles */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem;
  background-color: #f0f0f0;
}

.contact-container h2 {
  margin-bottom: 20px;
  text-align: center;
  font-family: monospace;
  color: #4c4a4a;
}

.contact-form {
  width: 100%;
  max-width: 300px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.contact-form textarea {
  resize: vertical;
  border-radius: 15px;
}

.submit-button {
  background-color: #72e6ea;
  color: #fff;
  border: none;
  padding: 5px 95px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 40px;
}

.submit-button:hover {
  background-color: #72e6ea;
}
/* Team styles */
.team-container {
  padding: 100px 20px;
  background-color: transparent;
  text-align: center;
}

.team-heading {
  font-size: 2rem;
  color: #555;
  margin-bottom: 60px;
  font-weight: bold;
  font-family: monospace;
}

.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.team-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.team-info {
  margin-bottom: 15px;
}

.team-info h3 {
  font-size: 1.5rem;
  color: #656363;
  margin-bottom: 5px;
  font-family: "Courier New", Courier, monospace;
}

.team-info p {
  font-size: 1rem;
  color: #777;
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-icon {
  font-size: 1.5rem;
  color: #333;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #007bff;
}

/* section {
  padding: 80px 20px;
  margin-top: 60px;
} */
html {
  scroll-behavior: smooth;
}
