body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #f1eaf5; /* Dark text color */
  background-image: url('./components/images/ruby-development-gradient-geometry-wallpaper-preview.jpg');
  background-size: cover; /* Cover entire viewport */
  background-repeat: no-repeat; /* No repeating of background image */
  background-position: center top 50px; /* Center horizontally and start background 100px down from the top */
  /* background-attachment: fixed;  */
}


.navbar {
  color: rgb(26, 25, 25);
  padding: 1rem 0;
}



.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: #f1eaf5; */
}


.navbar .navbar-brand {
  color: rgb(41, 37, 37); 
  font-size: 2rem; 
  text-decoration: none;
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 1px; 
  text-transform: uppercase; 
  font-weight: bold; 
}


.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  margin: 0 1rem;
}

.navbar-nav li a {
  color: rgb(20, 17, 17);
  text-decoration: none;
  font-size: 1rem;
}

.navbar-nav li a:hover {
  text-decoration: underline;
}

.header {
  /* background: url('https://via.placeholder.com/1920x1080') no-repeat center center; */
  /* background-size: cover; */
  color: rgb(246, 238, 238);
  text-align: 10rem;
  padding: 10rem 1rem;
  max-width: 500px; /* Limit header width */
  font-family:'Times New Roman', Times, serif;
  font-size:larger;
  
 
 
}

.section {
  background-color: white; /* White background for sections */
  padding: 4rem 0;
  text-align: center;
}

.section h2 {
  font-size: 2.5rem; /* Larger heading size */
  color: #333; /* Dark heading color */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

p {
  color: #faf4f4;
  line-height: 1.6;
}

button {
  background-color: #6f42c1; /* Purple button */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #cb1ed7; /* Darker purple on hover */
  text-decoration: none;
}
.com {
  max-width: 400px; 
  padding: 5rem;
  text-align: center;
  margin-right: 10rem;
  font-family:'Times New Roman', Times, serif;
  font-size:larger;

}

